body{
	background-image:url(background.jpg);
	background-repeat:no-repeat;
}

p{
font-family: "Times New Roman", Times, serif;
font-size: 45px;
letter-spacing: 0px;
word-spacing: 0px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}

.myButton {
color: rgb(255, 255, 255); 
font-size: 26px; 
line-height: 26px; 
padding: 25px; 
border-radius: 7px; 
font-family: "Times New Roman", Times, serif; 
font-weight: 700; 
text-decoration: none; 
font-style: normal; 
font-variant: normal; 
text-transform: uppercase; 
background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
box-shadow: rgb(0, 0, ) 5px 5px 15px 5px; 
border: 2px solid rgb(28, 110, 164); 
display: inline-block;
}
.myButton:hover {
background: #1C6EA4; }
.myButton:active {
background: #144E75; }

.table{
-moz-transform: translate(0px, 50px);
-webkit-transform: translate(0px, 50px);
-o-transform: translate(0px, 50px);
-ms-transform: translate(0px, 50px);
transform: translate(0px, 80px);
}


